body{
  text-align: center;
}


.message{
  border: 2px solid dimgray;
  width: fit-content;
  height: fit-content;
border-radius: 15px;
  margin-left: 40%;
margin-top: 20px;

}
.message > ul {
  border: 2px solid sandybrown;
  width: fit-content;
  height: fit-content;
  border-radius: 0 0  0 15px;
margin: 10px;

}
li {
  list-style: none;
}

